 <a href="http://global.laureate.net/Portal.aspx#!profile/{{user.numericalId}}" target="_blank" ng-show="user.name!==''"  title="Go to Profile" class="header-sticky-login-container">
    <img  ng-src="http://global.laureate.net/Profile_Picture/{{user.email}}_thumb_2.jpg"  onError="this.onerror=null;this.src='../assets/img/global/profilepic.jpg';">
    <span class="header-sticky-login-name">{{user.name}}</span>
  </a>

   <a href="http://global.laureate.net/Portal.aspx#!sso&key=market_{{loginRedirectKey}}" ng-hide="user.name!==''"  title="Login" class="header-sticky-login-container">
    <img ng-src="../assets/img/global/profilepic.jpg">
    <span class="header-sticky-login-name">Login</span>
  </a>
  <a ng-click= "OpenZendeskWindow()" title="Need Help?" class="header-sticky-button-help">
     <i class="icon-help-bold"></i>
    <span>Support</span>
  </a>
